<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap-theme.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/jquery-ui.css' />
<script src="/js/jquery-1.12.1.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/angular.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/jquery-ui.js"></script>
<title>Welcome</title>
</head>
<body>
	<!--  <div class="row">
		<div class="col-md-12">
			<form action="logout" method="post">
				<h4>Welcome to the Portal, <%= username %></h4>
				<input type="submit" value="Logout" class="btn btn-success" />
			</form>
		</div>
	</div>-->

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" rel="home" href="/homepage">Twitter</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/myprofile">Profile</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
			<div class="col-sm-3 col-md-3 pull-right">
				<form class="navbar-form" role="search" action="/search"
					method="post">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search(Exclude @ or #)"
							name="searchparam" id="searchparam">
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit"
								ng-click="submit();">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</nav>

	<div class="container-fluid">

		<!--left-->
		<div class="col-sm-3">
			<div ng-app="followBtnApp" ng-controller="followBtnCtrl">
				<h2><%= username %></h2>
				<input type="hidden" ng-value="<%= userid %>" id="userid2"
					name="userid2" ng-model="userid2">
				<button ng-show="follow" ng-mouseover=""
					ng-mouseleave="normalbuf();" ng-click="followu();"
					class="{{buttonc}}" ng-init="sss();">{{status}}</button>
				<button ng-show="unfollow" ng-mouseover="unfollowc();"
					ng-mouseleave="normalbf();" ng-click="unfollowu();"
					class="{{buttonc}}">{{status}}</button>

				<br>
				<div class="panel panel-default">
					<div class="panel-heading">Info</div>
					<div class="panel-body">
						<div ng-init="sint();">
							<%= firstname %> <%= lastname %><br> <%= location %><br>
							<%= contact %><br> <a class="jpop" href="/getfollowinglist?user=<%= userid %>">Following: {{following}}</a> <a class="jpop" href="/getfollowerslist?user=<%= userid %>">Followers:
							{{followers}}</a>
						</div>
					</div>
				</div>
			</div>
			<hr>
		</div>
		<!--/left-->

		<!--center-->
		<div class="col-sm-6">
	
			<% for(var i in data) { %>
			<div class="row">
				<div class="col-xs-12">
					<a href="/profile?username=<%= data[i].username %>"><h4>@<%=
							data[i].username %></h4></a>
					<p><%- data[i].tweets %></p>
					<!-- <p class="lead">
						<button class="btn btn-default">Read More</button>
					</p> 
					<p class="pull-right">
						<span class="label label-default">keyword</span> <span
							class="label label-default">tag</span> <span
							class="label label-default">post</span>
					</p> -->
					<ul class="list-inline">
						<li><a href="#"><%=data[i].date %></a></li>
						<li><a href="retweet?tweetid=<%=data[i].id %>" class="jpop"><i class="glyphicon glyphicon-share"></i>
								Retweet</a></li>
					</ul>
				</div>
			</div>
			<hr>

			<% } %>


		</div>
		<!--/center-->

		<!--right-->
		<div class="col-sm-3">
			<h2>Ads</h2>
			
			<hr>
		</div>
		<!--/right-->
		<hr>
	</div>
	<!--/container-fluid-->
	<!-- /.container -->

	<div id="somediv" title="List" style="display: none;">
		<iframe id="thedialog" width="350" height="350"></iframe>
	</div>

	<script src="/angularjs/tweet.js"></script>
	<script src="/angularjs/retweet.js"></script>
	<script src="/angularjs/follow.js"></script>
	<script src="/angularjs/followcount.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".jpop").click(function() {
				
				$("#thedialog").attr('src', $(this).attr("href"));
				$("#somediv").dialog({
					width : 400,
					height : 450,
					modal : true,
					close : function() {
						$("#thedialog").attr('src', "about:blank");
					}
				});
				return false;
			});
		});
	</script>
</body>
</html>